body {
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
}

h2 {
    color: rgba(255, 0, 0, 1.0);
}

li {
    color: rgba(255, 255, 255, 1.0);
}

.button_close {
    color: rgba(255, 0, 0, 1.0);
    position: absolute;
    top: 2px;
    right: 2px;
    cursor: pointer;
}

#titled_closeable_table {
    width: 100%;
    table-layout: fixed;
    line-height: 0;
}

.payload {
    color: rgba(255, 255, 255, 1.0);
}

#payload_button {
    cursor: pointer;
}

#hovered_payload {
    cursor: pointer;
}

